Body { 
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}
.header {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #1f2937;  
}
.up {
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    width: 80%;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    
}
 ul {
    display: flex;
    gap: 10px;
    list-style-type:none;
    
}
 a {
    text-decoration: none;
    color: #efe7eb;
    font-size: 18px;
}
.down {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 100px 0px;
    gap:50px;
    
}
.left {
     
    display: flex;
    flex-direction:column;
    justify-content: center;
    max-width: 500px;
    height: 100%;
    
}

.right {

    max-width: 500px;
    height: 250px;
}

.right img {
    margin: 0;
    height: 100%;
    width: 100%;
    
}
.left h1 {
    font-size: 48Px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}
.left p {
    margin: 0;
    color: #efe7eb;
    font-size: 18px;
}
.left button {
    border: none;
    border-radius: 8px;
    background: #3882f6;
    color: #f9faf8;
    padding: 12px 24px;
    width: 140px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 900;
}
.second {
    background: white;
    text-align: center;
    min-width: 100%;
}
.second h3 {
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
    margin-bottom: 40px;
}
.products {
    display: Flex;
    justify-content: center;
    gap:50px;
    padding-bottom: 75px;
    flex-wrap: wrap;

}
.info{
    display:flex;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    
}
.info p{
    font-size: 20px;
    color: #464646;
    font-weight: 100;
    padding: 0;
}
.box{
    width: 200px;
    height: 200px;
    border: #3882f6;
    border-radius:20px;
    border-style:solid;
    align-self: center;
    border-width: 4px;
   
}
.qoute{
    display: flex;
    Background:#e5e7eb;
    padding:100px 50px 64px 50px;
    justify-content: center;
}
.text {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    
}
.text p{
    
    font-style:italic;
    font-weight:50;
    font-size: 36px;
    color: #1f2937;
    align-self: center;
    justify-self: center;
    margin:0;
    font-family: 'Noto sans',sans-serif;
}
.name{
    font-size: 14px;
    font-weight:900;
    align-self: flex-end;
    margin:0;
    padding-right: 30px;
    
}
.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 75px 150px;

}
.action{
    background:#3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 128px;
    gap:70px;
    border-radius: 7px;
    max-width: 1200px;
}
.call{
    display: flex;
    flex-direction: column;
}
.call h4{
    color: #f9faf8;
    font-size: 24px;
    font-weight:900;
    margin:0;
    padding:0;

}
.call p{

    color: #efe7eb;
    font-size: 18px;
    margin:0;
    padding:0;

}
.action button{
    border-color: #efe7eb;
    border-radius: 8px;
    background: #3882f6;
    color: #f9faf8;
    padding: 12px 24px;
    width: 140px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 900;

}
.footer{
    background: #1f2937;
    text-align: center;
    font-size: 18px;
    color: #f9faf8;
}
