Body {
    margin:auto;
    font-family: sans-serif;
}
.header {
    display: flex;
    flex-direction: column;
    background: #1f2937;
    padding: 0px 150px;
}
.up {
    padding: 1px 50px;
    display: flex;
    align-items:  center;
    justify-content: space-between;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}
 ul {
    display: flex;
    gap: 10px;
    list-style-type:none;
}
 a {
    text-decoration: none;
    color: #efe7eb;
    font-size: 18px;
}
.down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap:50px;
}
.left {
     
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 700px;
    height: 100%;
    
}

.right {
    
    width: 700px;
    height: 300px;
}

.right img {
    margin: 0;
    height: 100%;
    width: 100%;
    
}
.left h1 {
    font-size: 48Px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}
.left p {
    margin: 0;
    color: #efe7eb;
    font-size: 18px;
}
.left button {
    border: none;
    border-radius: 8px;
    background: #3882f6;
    color: #f9faf8;
    padding: 12px 24px;
    width: 140px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 900;
}
.second {
    background: white;
    text-align: center;
}
.second h3 {
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
    margin-bottom: 50px;
}
.products {
    display: Flex;
    justify-content: center;
    gap:50px;

}
.info{
    display:flex;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box{
    width: 100px;
    height: 100px;
    border: #3882f6;
    border-radius:8px;
    border-style:solid;
    align-self: center;
}